<forge-card outlined class="center">
  <forge-scaffold>
    <div slot="header" class="header">
      <h2 slot="start" class="title forge-typography--headline5">Application Configuration</h2>
      <forge-button slot="end">
        <button type="button" routerLink="/">
          <i class="tyler-icons" aria-hidden="true">home</i>
          <span>Home</span>
        </button>
      </forge-button>
    </div>

    <pre slot="body" class="forge-typography--body2">{{configJson}}</pre>
  </forge-scaffold>
</forge-card>
