<ng-container *ngIf="{
  portalConfig: portalConfig$ | async
} as state">
  <footer>
    <forge-footer>
      <ng-container *ngFor="let footerLink of state.portalConfig?.footerLinks">
        <forge-footer-item>
          <a [href]="footerLink.url">{{footerLink.name}}</a>
        </forge-footer-item>
      </ng-container>
      <forge-footer-item>
        <a [routerLink]="[]" (click)="openCookieSettingsDrawer()">Cookie settings</a>
      </forge-footer-item>
    </forge-footer>
  </footer>
</ng-container>